In [1]:
import pandas as pd
import numpy as np

In [2]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
Busan_Arts_Index = pd.DataFrame(data)
Busan_Arts_Index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [6]:
busan_arts_creation_production_index = pd.read_csv('busan_arts_creation_production_index.csv') 
busan_arts_finance_index = pd.read_csv('busan_arts_finance_index.csv') 
busan_arts_facilities_index = pd.read_csv('busan_arts_facilities_index.csv') 
busan_arts_enjoyment_index = pd.read_csv('busan_arts_enjoyment_index.csv') 
busan_arts_achievement_index = pd.read_csv('busan_arts_achievement_index.csv')

## 예술창작/생산지수

In [9]:
busan_arts_creation_production_index['ArtCreationProductionIndex']

0     104.767267
1     114.132883
2     105.236486
3      99.924925
4      93.262012
5     103.903904
6     117.623874
7      96.189940
8      93.937688
9      94.087838
10     89.864865
11     91.985736
12     95.251502
13     89.283033
14     90.259009
15    120.213964
Name: ArtCreationProductionIndex, dtype: float64

## 예술재정지수

In [11]:
busan_arts_finance_index['finanace_index']

0      78.826042
1     117.371565
2     159.375062
3     128.863952
4     191.197282
5     118.814451
6      58.432450
7      66.838279
8      97.640417
9      82.002607
10     40.434808
11    101.764204
12     90.889747
13     40.489984
14    129.685602
15     97.717228
Name: finanace_index, dtype: float64

## 예술시설지수

In [13]:
busan_arts_facilities_index['art_facilities_index']

0      38.600259
1      68.564724
2      70.300756
3      57.711280
4      84.453893
5      42.314304
6      52.894936
7      40.410662
8      44.560253
9      40.498421
10     50.663888
11    118.916841
12     47.267802
13     74.677163
14    267.408110
15    118.833186
Name: art_facilities_index, dtype: float64

## 예술향유지수

In [15]:
busan_arts_enjoyment_index['Busan_arts_enjoyment_index']

0      86.16
1      90.56
2      93.14
3      90.47
4      83.15
5     101.10
6      93.98
7      84.21
8      88.98
9      92.42
10     84.64
11     95.80
12     98.07
13     84.76
14     86.58
15    100.26
Name: Busan_arts_enjoyment_index, dtype: float64

## 예술성과지수

In [17]:
busan_arts_achievement_index['art_achievement_index']

0     113.215079
1      98.710726
2     134.556118
3      98.216670
4      95.014781
5      99.282209
6      99.062887
7      85.487924
8      86.806115
9      89.343303
10     97.211965
11     90.456923
12     94.161946
13     94.741554
14    121.242851
15    102.488948
Name: art_achievement_index, dtype: float64

## Arts Index

In [20]:
Busan_Arts_Index['Busan_Arts_Index'] = busan_arts_creation_production_index['ArtCreationProductionIndex'] + busan_arts_finance_index['finanace_index'] + busan_arts_facilities_index['art_facilities_index'] +  busan_arts_enjoyment_index['Busan_arts_enjoyment_index']
Busan_Arts_Index['Busan_Arts_Index'] = Busan_Arts_Index['Busan_Arts_Index'] / 5
Busan_Arts_Index

       구  Busan_Arts_Index
0    강서구         61.670714
1    금정구         78.125834
2    기장군         85.610461
3     남구         75.394031
4     동구         90.412637
5    동래구         73.226532
6   부산진구         64.586252
7     북구         57.529776
8    사상구         65.023672
9    사하구         61.801773
10    서구         53.120712
11   수영구         81.693356
12   연제구         66.295810
13   영도구         57.842036
14    중구        114.786544
15  해운대구         87.404876