In [1]:
import pandas as pd
import numpy as np

In [17]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
Busan_Arts_Index = pd.DataFrame(data)
Busan_Arts_Index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [18]:
busan_arts_creation_production_index = pd.read_csv('busan_arts_creation_production_index.csv') 
busan_arts_finance_index = pd.read_csv('busan_arts_finance_index.csv') 
busan_arts_facilities_index = pd.read_csv('busan_arts_facilities_index.csv') 
busan_arts_enjoyment_index = pd.read_csv('busan_arts_enjoyment_index.csv') 
busan_arts_achievement_index = pd.read_csv('busan_arts_achievement_index.csv')

## 예술창작/생산지수

In [19]:
busan_arts_creation_production_index['busan_arts_creation_production_index'].round(2)

0     104.77
1     114.13
2     105.24
3      99.92
4      93.26
5     103.90
6     117.62
7      96.19
8      93.94
9      94.09
10     89.86
11     91.99
12     95.25
13     89.28
14     90.26
15    120.21
Name: busan_arts_creation_production_index, dtype: float64

## 예술재정지수

In [20]:
busan_arts_finance_index['busan_arts_finance_index'].round(2)

0      78.83
1     117.37
2     159.38
3     128.86
4     191.20
5     118.81
6      58.43
7      66.84
8      97.64
9      82.00
10     40.43
11    101.76
12     90.89
13     40.49
14    129.69
15     97.72
Name: busan_arts_finance_index, dtype: float64

## 예술시설지수

In [21]:
busan_arts_facilities_index['busan_arts_facilities_index'].round(2)

0      38.60
1      68.56
2      70.30
3      57.71
4      84.45
5      42.31
6      52.89
7      40.41
8      44.56
9      40.50
10     50.66
11    118.92
12     47.27
13     74.68
14    267.41
15    118.83
Name: busan_arts_facilities_index, dtype: float64

## 예술향유지수

In [22]:
busan_arts_enjoyment_index['busan_arts_enjoyment_index'].round(2)

0      86.16
1      90.56
2      93.14
3      90.47
4      83.15
5     101.10
6      93.98
7      84.21
8      88.98
9      92.42
10     84.64
11     95.80
12     98.07
13     84.76
14     86.58
15    100.26
Name: busan_arts_enjoyment_index, dtype: float64

## 예술성과지수

In [24]:
busan_arts_achievement_index['busan_arts_achievement_index'].round(2)

0     113.22
1      98.71
2     134.56
3      98.22
4      95.01
5      99.28
6      99.06
7      85.49
8      86.81
9      89.34
10     97.21
11     90.46
12     94.16
13     94.74
14    121.24
15    102.49
Name: busan_arts_achievement_index, dtype: float64

## Arts Index

In [25]:
Busan_Arts_Index['busan_arts_index'] = busan_arts_creation_production_index['busan_arts_creation_production_index'] + busan_arts_finance_index['busan_arts_finance_index'] + busan_arts_facilities_index['busan_arts_facilities_index'] +  busan_arts_enjoyment_index['busan_arts_enjoyment_index'] + busan_arts_achievement_index['busan_arts_achievement_index'] 
Busan_Arts_Index['busan_arts_index'] = (Busan_Arts_Index['busan_arts_index']/5).round(2)
Busan_Arts_Index

       구  busan_arts_index
0    강서구             84.31
1    금정구             97.87
2    기장군            112.52
3     남구             95.04
4     동구            109.42
5    동래구             93.08
6   부산진구             84.40
7     북구             74.63
8    사상구             82.38
9    사하구             79.67
10    서구             72.56
11   수영구             99.78
12   연제구             85.13
13   영도구             76.79
14    중구            139.04
15  해운대구            107.90