In [2]:
import pandas as pd

# 부산시 구별 데이터
cal = pd.read_csv('/content/busan_arts_creation_production_calculate.csv')
df = pd.DataFrame(cal)
districts = df.iloc[:, 0]

cp_index = pd.DataFrame(districts)
cp_index

       구
0    강서구
1    금정구
2    기장구
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [11]:
# 계산

cp_index['workers']=(df['workers']/df['avg_workers'])*100
cp_index['workers']=cp_index['workers'].round(2)
cp_index['groups']=(df['groups']/df['avg_groups'])*100
cp_index['applicants']=(df['applicants']/df['avg_applicants'])*100
cp_index['participants']=(cp_index['groups']+cp_index['applicants'])/2
cp_index = cp_index.drop(['groups','applicants'], axis=1)

cp_index['contents_count']=(df['contents_count']/df['avg_contents_count'])*100
cp_index['contents_held']=(df['contents_held']/df['avg_contents_held'])*100

cp_index

       구  workers  participants  contents_count  contents_held
0    강서구   128.60         100.0           100.0          100.0
1    금정구   184.80         100.0           100.0          100.0
2    기장구   131.42         100.0           100.0          100.0
3     남구    99.55         100.0           100.0          100.0
4     동구    59.57         100.0           100.0          100.0
5    동래구   123.42         100.0           100.0          100.0
6   부산진구   205.74         100.0           100.0          100.0
7     북구    77.14         100.0           100.0          100.0
8    사상구    63.63         100.0           100.0          100.0
9    사하구    64.53         100.0           100.0          100.0
10    서구    39.19         100.0           100.0          100.0
11   수영구    51.91         100.0           100.0          100.0
12   연제구    71.51         100.0           100.0          100.0
13   영도구    35.70         100.0           100.0          100.0
14    중구    41.55         100.0           100.0          100.0
15  해운대구   221.28         100.0           100.0          100.0

In [13]:
# 인력 지수
cp_index['manpower_index'] = (cp_index['workers']+cp_index['participants'])/2
cp_index['manpower_index'] = cp_index['manpower_index'].round(2)

# 콘텐츠 지수
cp_index['contents_index'] = (cp_index['contents_count']+cp_index['contents_held'])/2

# 예술창작/생산지수
cp_index['busan_arts_creation_production_index'] = (cp_index['manpower_index']+cp_index['contents_index'])/2
cp_index['busan_arts_creation_production_index'] = cp_index['busan_arts_creation_production_index'].round(2)

cp_index

,구,workers,participants,contents_count,contents_held,manpower_index,contents_index,busan_arts_creation_production_index
0,강서구,128.60,100.0,100.0,100.0,114.30,100.0,107.15
1,금정구,184.80,100.0,100.0,100.0,142.40,100.0,121.20
2,기장구,131.42,100.0,100.0,100.0,115.71,100.0,107.85
3,남구,99.55,100.0,100.0,100.0,99.78,100.0,99.89
4,동구,59.57,100.0,100.0,100.0,79.78,100.0,89.89
5,동래구,123.42,100.0,100.0,100.0,111.71,100.0,105.85
6,부산진구,205.74,100.0,100.0,100.0,152.87,100.0,126.44
7,북구,77.14,100.0,100.0,100.0,88.57,100.0,94.28
8,사상구,63.63,100.0,100.0,100.0,81.82,100.0,90.91
9,사하구,64.53,100.0,100.0,100.0,82.26,100.0,91.13
10,서구,39.19,100.0,100.0,100.0,69.60,100.0,84.80
11,수영구,51.91,100.0,100.0,100.0,75.96,100.0,87.98
12,연제구,71.51,100.0,100.0,100.0,85.76,100.0,92.88
13,영도구,35.70,100.0,100.0,100.0,67.85,100.0,83.92
14,중구,41.55,100.0,100.0,100.0,70.78,100.0,85.39
15,해운대구,221.28,100.0,100.0,100.0,160.64,100.0,130.32

In [14]:
cp_index.to_csv('busan_arts_creation_production_index.csv', encoding='utf-8-sig', index=False)