In [ ]:
#BusanManPowerTable 만들기
import pandas as pd
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장구', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구','영도구','중구', '해운대구'],
}
# 데이터 프레임 생성
busan_df = pd.DataFrame(data)
busan_df

busan_BusanCultureWorker = pd.read_excel('BusanCultureWorker.xlsx', engine='openpyxl')  #문화종사자
busan_BusanPerformance = pd.read_excel('BusanPerformance.xlsx', engine='openpyxl')#공연인력(공연단체 수)
busan_BusanContentsG = pd.read_excel('BusanContentsG.xlsx', engine='openpyxl')#문화콘텐츠 건수
busan_BusanContentsH = pd.read_excel('BusanContentsH.xlsx', engine='openpyxl')#문화콘텐츠 수
busan_BusanConApplicants= pd.read_excel('BusanConApplicants.xlsx', engine='openpyxl')#부산문예기금 신청자

busan_BusanCultureWorker = busan_BusanCultureWorker.sort_values(by='구', ascending=True)

busan_BusanCultureWorker = busan_BusanCultureWorker.reset_index(drop=True)  # 인덱스 다시 지정
busan_BusanPerformance = busan_BusanPerformance.reset_index(drop=True)
busan_BusanContentsG = busan_BusanContentsG.reset_index(drop=True)
busan_BusanContentsH =busan_BusanContentsH.reset_index(drop=True)
busan_BusanConApplicants =busan_BusanConApplicants.reset_index(drop=True)


busan_df['BusanCultureWorker2021'] =busan_BusanCultureWorker[2021]
busan_df['BusanCultureWorkeAvg'] =busan_BusanCultureWorker['avg']

busan_df['BusanPerformance2021'] =busan_BusanPerformance[2021]
busan_df['BusanPerformanceAvg'] =busan_BusanPerformance['avg']

busan_df['BusanContentsG2021'] =busan_BusanContentsG[2021]
busan_df['BusanContentsGAvg'] =busan_BusanContentsG['avg']

busan_df['BusanContentsH2021'] =busan_BusanContentsH[2021]
busan_df['BusanContentsH2Avg'] =busan_BusanContentsH['avg']

busan_df['BusanConApplicants2022'] =busan_BusanConApplicants[2022]
busan_df['BusanConApplicantsAvg'] =busan_BusanConApplicants['avg']

busan_df.to_csv('art_CreationProduction_Calculate.csv',encoding='utf-8-sig', index=False)
busan_df

,구,BusanCultureWorker2021,BusanCultureWorkeAvg,BusanPerformance2021,BusanPerformanceAvg,BusanContentsG2021,BusanContentsGAvg,BusanContentsH2021,BusanContentsH2Avg,BusanConApplicants2022,BusanConApplicantsAvg
0,강서구,1142,888,250,250,1050,1050,3899,3899,251,251
1,금정구,1641,888,250,250,1050,1050,3899,3899,251,251
2,기장구,1167,888,250,250,1050,1050,3899,3899,251,251
3,남구,884,888,250,250,1050,1050,3899,3899,251,251
4,동구,529,888,250,250,1050,1050,3899,3899,251,251
5,동래구,1096,888,250,250,1050,1050,3899,3899,251,251
6,부산진구,1827,888,250,250,1050,1050,3899,3899,251,251
7,북구,685,888,250,250,1050,1050,3899,3899,251,251
8,사상구,565,888,250,250,1050,1050,3899,3899,251,251
9,사하구,573,888,250,250,1050,1050,3899,3899,251,251
10,서구,348,888,250,250,1050,1050,3899,3899,251,251
11,수영구,461,888,250,250,1050,1050,3899,3899,251,251
12,연제구,635,888,250,250,1050,1050,3899,3899,251,251
13,영도구,317,888,250,250,1050,1050,3899,3899,251,251
14,중구,369,888,250,250,1050,1050,3899,3899,251,251
15,해운대구,1965,888,250,250,1050,1050,3899,3899,251,251

In [ ]:
#BusanManPowerIndex

# 데이터 프레임 생성
busan_df_index = pd.DataFrame(data)
busan_df_index


 #인력 콘텐츠 지수관련

busan_df_index['workers']=busan_BusanCultureWorker[2021]/busan_BusanCultureWorker['avg']*100
busan_df_index['groups']=busan_BusanPerformance[2021]/busan_BusanPerformance['avg']*100
busan_df_index['applicants']=busan_BusanConApplicants[2022]/busan_BusanConApplicants['avg']*100

busan_df_index['contents_count']=busan_BusanContentsG[2021]/busan_BusanContentsG['avg']*100
busan_df_index['contents_held']=busan_BusanContentsH[2021]/busan_BusanContentsH['avg']*100


#인력
busan_df_index['manpower_index'] = (
    busan_df_index['workers']+busan_df_index['groups']+busan_df_index['applicants']
)/3

#콘텐츠 지수
busan_df_index['contents_index'] = (
   busan_df_index['contents_count']+busan_df_index['contents_held']
)/2
#예술창작/생산지수
busan_df_index['busan_arts_creation_production_index']=(busan_df_index['manpower_index']+busan_df_index['contents_index'])/2

busan_df_index.to_csv('busan_arts_creation_production_index.csv',encoding='utf-8-sig', index=False)
busan_df_index

NameError: ignored