In [3]:
import pandas as pd

# 부산시 구별 데이터
cal = pd.read_csv('/content/busan_arts_finance_calculate.csv')
df = pd.DataFrame(cal)
districts = df.iloc[:, 0]

index = pd.DataFrame(districts)
index

       구
0    강서구
1    금정구
2    기장구
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [6]:
# 계산
index['cul_budget']=(df['cul_budget']/df['avg_cul_budget'])*100
index['cul_budget']=index['cul_budget'].round(2)

index['cna_budget']=(df['cna_budget']/df['avg_cna_budget'])*100
index['cna_budget']=index['cna_budget'].round(2)

index['cul_government']=(df['cul_government']/df['avg_cul_government'])*100
index['cul_government']=index['cul_government'].round(2)

index['cna_budget_2']=(df['cna_budget_2']/df['avg_cna_budget_2'])*100
index['cna_budget_2']=index['cna_budget_2'].round(2)

index['donation']=(df['donation']/df['avg_donation'])*100
index['donation']=index['donation'].round(2)

index

       구  cul_budget  cna_budget  cul_government  cna_budget_2  donation
0    강서구       82.84       79.16           97.85         61.98     77.19
1    금정구      344.92       75.79          317.03         14.25     46.75
2    기장구      333.33      266.74          223.03         51.91    100.00
3     남구       84.08      266.74           74.31        205.79    100.00
4     동구       78.76       82.38          116.41        340.85    227.79
5    동래구       34.24       43.34           36.92         82.11    188.47
6   부산진구       52.75       96.80           32.67        119.04     41.55
7     북구       85.90       45.64           71.90         34.46     74.20
8    사상구       84.66       97.58           81.90         74.76    110.56
9    사하구       41.86       70.84           33.54        109.78    100.00
10    서구       76.10       54.94          104.05         46.83     10.39
11   수영구       75.70      165.71           95.33        142.00     83.85
12   연제구       36.16       93.68           29.23        168.05    100.00
13   영도구       81.15       80.19           99.23         33.67      7.42
14    중구       58.35       45.16          156.97         64.09    178.23
15  해운대구       49.21       35.31           32.62         50.20    153.60

In [7]:
# 예산 지수
index['budget_index'] = (index['cul_budget']+index['cna_budget']+index['cul_government']+index['cna_budget_2'])/4
index['budget_index'] = index['budget_index'].round(2)

# 기부 지수
index['donation_index'] = index['donation']

# 예술 재정 지수
index['busan_arts_finance_index'] = (index['budget_index']+index['donation_index'])/2
index['busan_arts_finance_index'] = index['busan_arts_finance_index'].round(2)

index

,구,cul_budget,cna_budget,cul_government,cna_budget_2,donation,budget_index,donation_index,busan_arts_finance_index
0,강서구,82.84,79.16,97.85,61.98,77.19,80.46,77.19,78.82
1,금정구,344.92,75.79,317.03,14.25,46.75,188.00,46.75,117.38
2,기장구,333.33,266.74,223.03,51.91,100.00,218.75,100.00,159.38
3,남구,84.08,266.74,74.31,205.79,100.00,157.73,100.00,128.86
4,동구,78.76,82.38,116.41,340.85,227.79,154.60,227.79,191.20
5,동래구,34.24,43.34,36.92,82.11,188.47,49.15,188.47,118.81
6,부산진구,52.75,96.80,32.67,119.04,41.55,75.32,41.55,58.43
7,북구,85.90,45.64,71.90,34.46,74.20,59.48,74.20,66.84
8,사상구,84.66,97.58,81.90,74.76,110.56,84.72,110.56,97.64
9,사하구,41.86,70.84,33.54,109.78,100.00,64.00,100.00,82.00
10,서구,76.10,54.94,104.05,46.83,10.39,70.48,10.39,40.44
11,수영구,75.70,165.71,95.33,142.00,83.85,119.68,83.85,101.76
12,연제구,36.16,93.68,29.23,168.05,100.00,81.78,100.00,90.89
13,영도구,81.15,80.19,99.23,33.67,7.42,73.56,7.42,40.49
14,중구,58.35,45.16,156.97,64.09,178.23,81.14,178.23,129.68
15,해운대구,49.21,35.31,32.62,50.20,153.60,41.84,153.60,97.72

In [8]:
index.to_csv('busan_arts_finance_index.csv', encoding='utf-8-sig', index=False)