<a href="https://colab.research.google.com/github/eunjuyummy/The_Arts_Vibrancy_Index/blob/main/BusanManArtsFinanceIndex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문화부 대비 문화예술 비율 구하는
import pandas as pd

# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장구', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구','중구', '해운대구'],
}
# 데이터 프레임 생성
busan_df = pd.DataFrame(data)
busan_df

busan_CultureBudget = pd.read_excel('BusanCultureBudget.xlsx', engine='openpyxl')  #문화부 예산
busan_CulArtBudget = pd.read_excel('BusanCulArtBudget.xlsx', engine='openpyxl')#문화예술 예산

busan_CultureBudget = busan_CultureBudget.sort_values(by='구', ascending=True)

busan_CultureBudget = busan_CultureBudget.reset_index(drop=True)  # 인덱스 다시 지정
busan_CulArtBudget = busan_CulArtBudget.reset_index(drop=True)

busan_df['2021'] = busan_CulArtBudget[2021]/busan_CultureBudget[2021]*100
busan_df['2022'] = busan_CulArtBudget[2022]/busan_CultureBudget[2022]*100


busan_df.to_csv('busanCul_Art.csv',encoding='utf-8-sig', index=False) #문화부예산 대비 문화예술 예산
busan_df

       구       2021       2022
0    강서구   6.700565   5.961867
1    금정구   1.540683   1.979369
2    기장구   5.611077   8.820866
3     남구  22.245589  34.487913
4     동구  36.846360  35.145722
5    동래구   8.876167   8.476260
6   부산진구  12.867923  19.612587
7     북구   3.725440   7.877604
8    사상구   8.082029   7.422982
9    사하구  11.867279   6.323651
10    서구   5.062120   5.028720
11   수영구  15.349756  13.766619
12   연제구  18.165933  21.129459
13    중구   6.928372   7.435070
14  해운대구   5.426386   6.156931

In [ ]:
#BusanFinance테이블 만들기

# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장구', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구','중구', '해운대구'],
}
# 데이터 프레임 생성
busan_df = pd.DataFrame(data)
busan_df

busan_CultureBudget = pd.read_excel('BusanCultureBudget.xlsx', engine='openpyxl')  #문화부 예산
busan_CulArtBudget = pd.read_excel('BusanCulArtBudget.xlsx', engine='openpyxl')#문화예술 예산
busan_BusanCul_Goverment = pd.read_excel('BusanCul_Goverment.xlsx', engine='openpyxl')#정부대비 문화부예
busan_Cul_Art = pd.read_excel('busanCul_Art.xlsx', engine='openpyxl')#문화부대비 문화예술 예산
busan_BusanDonation= pd.read_excel('BusanDonation.xlsx', engine='openpyxl')#부산문화기부금

busan_CultureBudget = busan_CultureBudget.sort_values(by='구', ascending=True)

busan_CultureBudget = busan_CultureBudget.reset_index(drop=True)  # 인덱스 다시 지정
busan_CulArtBudget = busan_CulArtBudget.reset_index(drop=True)
busan_BusanCul_Goverment = busan_BusanCul_Goverment.reset_index(drop=True)
busan_Cul_Art = busan_Cul_Art.reset_index(drop=True)
busan_BusanDonation =busan_BusanDonation.reset_index(drop=True)

busan_df['busan_CultureBudget2021'] =busan_CultureBudget[2021]
busan_df['busan_CultureBudget2022'] =busan_CultureBudget[2022]

busan_df['busan_CulArtBudget2021'] =busan_CulArtBudget[2021]
busan_df['busan_CulArtBudget2022'] =busan_CulArtBudget[2022]

busan_df['busan_Cul_Goverment2021'] =busan_BusanCul_Goverment[2021]
busan_df['busan_Cul_Goverment2022'] =busan_BusanCul_Goverment[2022]

busan_df['busan_Cul_Art2021'] =busan_Cul_Art[2021]
busan_df['busan_Cul_Art2022'] =busan_Cul_Art[2022]

busan_df['busan_BusanDonation2021'] =busan_BusanDonation[2021]
busan_df['busan_BusanDonation2022'] =busan_BusanDonation[2022]

busan_df.to_csv('arts_finance_calculate.csv',encoding='utf-8-sig', index=False)
busan_df

,구,busan_CultureBudget2021,busan_CultureBudget2022,busan_CulArtBudget2021,busan_CulArtBudget2022,busan_Cul_Goverment2021,busan_Cul_Goverment2022,busan_Cul_Art2021,busan_Cul_Art2022,busan_BusanDonation2021,busan_BusanDonation2022
0,강서구,68455478,79318289,4586904,4728851,19.08,19.44,6.700565,5.961867,10403600,10403600
1,금정구,285035168,311441589,4391488,6164578,61.82,59.53,1.540683,1.979369,6300000,6300000
2,기장구,275453982,297429593,15455934,26235865,43.49,42.36,5.611077,8.820866,0,36000000
3,남구,69478647,76072637,15455934,26235865,14.49,14.45,22.245589,34.487913,77300100,132800000
4,동구,373802965,406211576,137732785,142765990,2.81,2.85,36.846360,35.145722,30700000,18547000
5,동래구,28294477,29557210,2511465,2505346,7.20,6.66,8.876167,8.476260,25401019,23500823
6,부산진구,43589095,47864185,5609011,9387405,6.37,6.54,12.867923,19.612587,5600000,9600000
7,북구,70989629,78539211,2644676,6187008,14.02,13.92,3.725440,7.877604,10000000,10000000
8,사상구,69956785,75412026,5653928,5597821,15.97,16.10,8.082029,7.422982,14900000,14900000
9,사하구,34590490,45556328,4104950,2880823,6.54,7.95,11.867279,6.323651,19514162,29688765
10,서구,62890651,63541138,3183600,3195306,20.29,19.33,5.062120,5.028720,1400000,43440000
11,수영구,62552517,70668660,9601659,9728685,18.59,18.97,15.349756,13.766619,11300000,14900893
12,연제구,29881162,30896162,5428192,6528192,5.70,5.70,18.165933,21.129459,19514162,29688765
13,중구,67061239,70253323,4646252,5223384,19.35,19.39,6.928372,7.435070,1000000,1000000
14,해운대구,48219261,50844716,2616563,3130474,30.61,29.60,5.426386,6.156931,24020000,24020000

In [ ]:
#BusanFinanceIndex


busan_df['busan_CultureBudget2021'] =busan_CultureBudget[2021]
busan_df['busan_CultureBudget2022'] =busan_CultureBudget[2022]

busan_df['busan_CulArtBudget2021'] =busan_CulArtBudget[2021]
busan_df['busan_CulArtBudget2022'] =busan_CulArtBudget[2022]

busan_df['busan_Cul_Goverment2021'] =busan_BusanCul_Goverment[2021]
busan_df['busan_Cul_Goverment2022'] =busan_BusanCul_Goverment[2022]

busan_df['busan_Cul_Art2021'] =busan_Cul_Art[2021]
busan_df['busan_Cul_Art2022'] =busan_Cul_Art[2022]

busan_df['busan_BusanDonation2021'] =busan_BusanDonation[2021]
busan_df['busan_BusanDonation2022'] =busan_BusanDonation[2022]


busan_df.to_csv('BusanArtFinanceIndex.csv',encoding='utf-8-sig', index=False)
busan_df

,구,busan_CultureBudget2021,busan_CultureBudget2022,busan_CulArtBudget2021,busan_CulArtBudget2022,busan_Cul_Goverment2021,busan_Cul_Goverment2022,busan_Cul_Art2021,busan_Cul_Art2022,busan_BusanDonation2021,busan_BusanDonation2022
0,강서구,68455478,79318289,4586904,4728851,19.08,19.44,6.700565,5.961867,10403600,10403600
1,금정구,285035168,311441589,4391488,6164578,61.82,59.53,1.540683,1.979369,6300000,6300000
2,기장구,275453982,297429593,15455934,26235865,43.49,42.36,5.611077,8.820866,0,36000000
3,남구,69478647,76072637,15455934,26235865,14.49,14.45,22.245589,34.487913,77300100,132800000
4,동구,373802965,406211576,137732785,142765990,2.81,2.85,36.846360,35.145722,30700000,18547000
5,동래구,28294477,29557210,2511465,2505346,7.20,6.66,8.876167,8.476260,25401019,23500823
6,부산진구,43589095,47864185,5609011,9387405,6.37,6.54,12.867923,19.612587,5600000,9600000
7,북구,70989629,78539211,2644676,6187008,14.02,13.92,3.725440,7.877604,10000000,10000000
8,사상구,69956785,75412026,5653928,5597821,15.97,16.10,8.082029,7.422982,14900000,14900000
9,사하구,34590490,45556328,4104950,2880823,6.54,7.95,11.867279,6.323651,19514162,29688765
10,서구,62890651,63541138,3183600,3195306,20.29,19.33,5.062120,5.028720,1400000,43440000
11,수영구,62552517,70668660,9601659,9728685,18.59,18.97,15.349756,13.766619,11300000,14900893
12,연제구,29881162,30896162,5428192,6528192,5.70,5.70,18.165933,21.129459,19514162,29688765
13,중구,67061239,70253323,4646252,5223384,19.35,19.39,6.928372,7.435070,1000000,1000000
14,해운대구,48219261,50844716,2616563,3130474,30.61,29.60,5.426386,6.156931,24020000,24020000

In [ ]:
# 데이터 프레임 생성
busan_df_index = pd.DataFrame(data)
busan_df_index

#예산관련지수들 정리
busan_df_index['CultureBudget']=busan_CultureBudget[2022]/busan_CultureBudget[2021]*100
busan_df_index['Cul_Goverment']=busan_BusanCul_Goverment[2022]/busan_BusanCul_Goverment[2021]*100
busan_df_index['CulArtBudget']=busan_CulArtBudget[2022]/busan_CulArtBudget[2021]*100
busan_df_index['Cul_Art']=busan_Cul_Art[2022]/busan_Cul_Art[2021]*100

#기부지수
busan_df_index['donation_index']=busan_BusanDonation[2022]/busan_BusanDonation[2021]*100

#예산지수
busan_df_index['budget_index'] = (
    busan_df_index['CultureBudget']+busan_df_index['Cul_Goverment']+busan_df_index['CulArtBudget']+busan_df_index['Cul_Art']
)/4


#재정지수(예산+기부)
busan_df_index['finanace_index']=(busan_df_index['donation_index']+busan_df_index['budget_index'])/2
busan_df_index

busan_df_index.to_csv('Art_FinanceIndex.csv',encoding='utf-8-sig', index=False)