In [1]:
import pandas as pd

# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
Busan_Arts_Index = pd.DataFrame(data)
Busan_Arts_Index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [2]:
busan_arts_creation_production_index = pd.read_csv('busan_arts_creation_production_index.csv')
busan_arts_finance_index = pd.read_csv('busan_arts_finance_index.csv')
busan_arts_facilities_index = pd.read_csv('busan_arts_facilities_index.csv')
busan_arts_enjoyment_index = pd.read_csv('busan_arts_enjoyment_index.csv')
busan_arts_achievement_index = pd.read_csv('busan_arts_achievement_index.csv')

## 예술창작/생산지수

In [3]:
busan_arts_creation_production_index['busan_arts_creation_production_index'].round(2)

0     107.15
1     121.20
2     107.85
3      99.89
4      89.89
5     105.85
6     126.44
7      94.28
8      90.91
9      91.13
10     84.80
11     87.98
12     92.88
13     83.92
14     85.39
15    130.32
Name: busan_arts_creation_production_index, dtype: float64

## 예술재정지수

In [4]:
busan_arts_finance_index['busan_arts_finance_index'].round(2)

0      78.82
1     117.38
2     159.38
3     128.86
4     191.20
5     118.81
6      58.43
7      66.84
8      97.64
9      82.00
10     40.44
11    101.76
12     90.89
13     40.49
14    129.68
15     97.72
Name: busan_arts_finance_index, dtype: float64

## 예술시설지수

In [5]:
busan_arts_facilities_index['busan_arts_facilities_index'].round(2)

0      64.57
1      99.29
2      86.83
3     109.67
4      93.01
5      78.75
6      90.64
7      73.12
8      72.76
9      72.80
10     70.36
11    128.40
12     72.60
13     86.57
14    164.29
15    162.48
Name: busan_arts_facilities_index, dtype: float64

## 예술향유지수

In [6]:
busan_arts_enjoyment_index['busan_arts_enjoyment_index'].round(2)

0      86.16
1      90.56
2      93.14
3      90.47
4      83.15
5     101.10
6      93.98
7      84.21
8      88.98
9      92.42
10     84.64
11     95.80
12     98.07
13     84.76
14     86.58
15    100.26
Name: busan_arts_enjoyment_index, dtype: float64

## 예술성과지수

In [7]:
busan_arts_achievement_index['busan_arts_achievement_index'].round(2)

0     113.22
1      98.71
2     134.56
3      98.22
4      95.02
5      99.28
6      99.06
7      85.48
8      86.80
9      89.34
10     97.21
11     90.46
12     94.16
13     94.74
14    121.24
15    102.49
Name: busan_arts_achievement_index, dtype: float64

## Busan arts index

In [9]:
Busan_Arts_Index['busan_arts_index'] = busan_arts_creation_production_index['busan_arts_creation_production_index'] + busan_arts_finance_index['busan_arts_finance_index'] + busan_arts_facilities_index['busan_arts_facilities_index'] +  busan_arts_enjoyment_index['busan_arts_enjoyment_index'] + busan_arts_achievement_index['busan_arts_achievement_index']
Busan_Arts_Index['busan_arts_index'] = (Busan_Arts_Index['busan_arts_index']/5).round(2)
Busan_Arts_Index

       구  busan_arts_index
0    강서구             89.98
1    금정구            105.43
2    기장군            116.35
3     남구            105.42
4     동구            110.45
5    동래구            100.76
6   부산진구             93.71
7     북구             80.79
8    사상구             87.42
9    사하구             85.54
10    서구             75.49
11   수영구            100.88
12   연제구             89.72
13   영도구             78.10
14    중구            117.44
15  해운대구            118.65

In [11]:
summary = Busan_Arts_Index.describe()
summary

       busan_arts_index
count         16.000000
mean          97.258125
std           14.214531
min           75.490000
25%           86.950000
50%           97.235000
75%          106.685000
max          118.650000

In [12]:
Busan_Arts_Index.to_csv('Busan_arts_index.csv', encoding='utf-8-sig', index=False)