# art_achievement_index

In [2]:
import pandas as pd
import numpy as np

In [3]:
# 최종 지표 값들을 정리할 table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
final_art_achievement_index= pd.DataFrame(data)
final_art_achievement_index

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [4]:
art_achievement_index = pd.read_csv('../Seoul_data/art_achievement_index.csv')
art_achievement_index

,구,happiness_2021,happiness_2022,Aacs_2021,Aacs_2022,Aacitt_2021,Aacitt_2022,ms_2021,ms_2022,Ams_2021,Ams_2020,Noce_2019,Qof_2021,Qof_2022,Swaace_2021,Swaace_2022,Lls_2021,Lls_2022
0,강남구,6.53,6.35,5.65,5.56222,150.9,175.6,50902.500,87856.000000,34469,32489,9.03,6.08,6.81,6.24,5.91,5.97,5.53
1,강동구,6.27,6.86,5.65,5.56222,150.9,175.6,41418.500,60038.750000,18986,6701,9.03,5.88,6.68,5.41,6.05,5.35,5.88
2,강북구,6.18,6.52,5.65,5.56222,150.9,175.6,31132.500,31917.750000,18986,6701,9.03,5.97,6.86,6.11,6.28,5.80,6.02
3,강서구,6.13,6.37,5.65,5.56222,150.9,175.6,38785.625,74212.375000,18986,6701,9.03,5.86,6.58,5.45,6.09,5.40,5.91
4,관악구,6.23,6.73,5.65,5.56222,150.9,175.6,29615.375,73335.875000,18986,6701,9.03,5.87,6.53,5.72,5.68,5.67,5.34
5,광진구,6.38,6.53,5.65,5.56222,150.9,175.6,43185.875,95399.125000,18986,6701,9.03,5.83,6.30,5.74,5.68,5.64,5.64
6,구로구,6.29,6.48,5.65,5.56222,150.9,175.6,33578.625,26088.875000,18986,6701,9.03,5.90,6.44,5.45,5.76,5.46,5.43
7,금천구,6.19,6.37,5.65,5.56222,150.9,175.6,37742.125,30014.250000,18986,6701,9.03,5.91,6.16,5.54,5.72,5.48,5.54
8,노원구,6.38,6.59,5.65,5.56222,150.9,175.6,36377.375,22121.500000,18986,6701,9.03,5.96,7.87,5.58,5.62,5.58,5.49
9,도봉구,6.06,6.62,5.65,5.56222,150.9,175.6,44489.875,30524.625000,18986,6701,9.03,5.83,6.15,5.40,5.62,5.40,5.56
10,동대문구,6.24,6.76,5.65,5.56222,150.9,175.6,32354.250,85993.375000,18986,6701,9.03,5.86,6.64,5.44,6.32,5.44,6.12
11,동작구,6.36,7.11,5.65,5.56222,150.9,175.6,39375.500,44233.375000,18986,6701,9.03,5.95,6.78,5.68,6.44,5.61,6.12
12,마포구,6.29,6.91,5.65,5.56222,150.9,175.6,46992.625,55752.875000,18986,6701,9.03,5.96,6.38,5.79,6.10,5.72,5.90
13,서대문구,6.10,6.91,5.65,5.56222,150.9,175.6,41375.250,53041.250000,18986,6701,9.03,6.02,6.82,6.14,6.30,5.85,6.04
14,서초구,6.38,6.96,5.65,5.56222,150.9,175.6,64112.125,50705.000000,18986,6701,9.03,6.10,7.27,6.18,6.09,5.90,5.72
15,성동구,6.28,6.99,5.65,5.56222,150.9,175.6,33645.000,64368.500000,18986,6701,9.03,5.96,6.73,6.18,6.42,5.91,6.22
16,성북구,6.19,6.95,5.65,5.56222,150.9,175.6,31366.750,81957.875000,18986,6701,9.03,5.95,6.45,5.79,5.75,5.70,5.64
17,송파구,6.45,7.06,5.65,5.56222,150.9,175.6,36822.000,58284.875000,18986,6701,9.03,6.02,6.91,6.19,6.26,5.92,6.12
18,양천구,6.03,6.46,5.65,5.56222,150.9,175.6,34243.250,39625.375000,18986,6701,9.03,5.86,5.96,5.36,5.52,5.30,5.41
19,영등포구,6.33,6.38,5.65,5.56222,150.9,175.6,42331.250,32707.000000,18986,6701,9.03,5.95,5.10,5.53,4.28,5.44,3.99
20,용산구,6.13,6.50,5.65,5.56222,150.9,175.6,46997.750,60288.750000,18986,6701,9.03,5.83,6.42,5.44,5.71,5.46,5.67
21,은평구,6.24,7.01,5.65,5.56222,150.9,175.6,39373.625,42683.125000,18986,6701,9.03,5.91,6.72,5.60,6.61,5.45,6.34
22,종로구,6.23,6.90,5.65,5.56222,150.9,175.6,47359.125,67999.328125,213109,107372,9.03,5.92,6.70,5.53,6.69,5.55,6.43
23,중구,6.35,6.44,5.65,5.56222,150.9,175.6,40040.000,61444.500000,18986,6701,9.03,5.96,6.18,6.17,5.89,5.92,5.74
24,중랑구,6.32,6.92,5.65,5.56222,150.9,175.6,29735.750,52583.875000,18986,6701,9.03,5.83,6.31,5.46,5.82,5.40,5.74

## 문화예술만족도 및 관람의향 (Arts and culture satisfaction and intent to attend)

In [5]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [6]:
# (Aacs_2022 / Aacs_2021, Avg(Aacitt_2022/Aacitt_2021))*100
cal_df['Aacs'] = art_achievement_index['Aacs_2022']/art_achievement_index['Aacs_2021']
cal_df['Aacitt'] = (art_achievement_index['Aacitt_2022']/art_achievement_index['Aacitt_2021'])/9
cal_df['Aacs_Aacitt'] = (cal_df['Aacs'] + cal_df['Aacitt'])/2*100
cal_df

       구      Aacs    Aacitt  Aacs_Aacitt
0    강남구  0.984464  0.129298      55.6881
1    강동구  0.984464  0.129298      55.6881
2    강북구  0.984464  0.129298      55.6881
3    강서구  0.984464  0.129298      55.6881
4    관악구  0.984464  0.129298      55.6881
5    광진구  0.984464  0.129298      55.6881
6    구로구  0.984464  0.129298      55.6881
7    금천구  0.984464  0.129298      55.6881
8    노원구  0.984464  0.129298      55.6881
9    도봉구  0.984464  0.129298      55.6881
10  동대문구  0.984464  0.129298      55.6881
11   동작구  0.984464  0.129298      55.6881
12   마포구  0.984464  0.129298      55.6881
13  서대문구  0.984464  0.129298      55.6881
14   서초구  0.984464  0.129298      55.6881
15   성동구  0.984464  0.129298      55.6881
16   성북구  0.984464  0.129298      55.6881
17   송파구  0.984464  0.129298      55.6881
18   양천구  0.984464  0.129298      55.6881
19  영등포구  0.984464  0.129298      55.6881
20   용산구  0.984464  0.129298      55.6881
21   은평구  0.984464  0.129298      55.6881
22   종로구  0.984464  0.129298      55.6881
23    중구  0.984464  0.129298      55.6881
24   중랑구  0.984464  0.129298      55.6881

In [7]:
final_art_achievement_index['Arts_and_culture_satisfaction_and_intent_to_attend'] = cal_df['Aacs_Aacitt']
final_art_achievement_index

       구  Arts_and_culture_satisfaction_and_intent_to_attend
0    강남구                                            55.6881
1    강동구                                            55.6881
2    강북구                                            55.6881
3    강서구                                            55.6881
4    관악구                                            55.6881
5    광진구                                            55.6881
6    구로구                                            55.6881
7    금천구                                            55.6881
8    노원구                                            55.6881
9    도봉구                                            55.6881
10  동대문구                                            55.6881
11   동작구                                            55.6881
12   마포구                                            55.6881
13  서대문구                                            55.6881
14   서초구                                            55.6881
15   성동구                                            55.6881
16   성북구                                            55.6881
17   송파구                                            55.6881
18   양천구                                            55.6881
19  영등포구                                            55.6881
20   용산구                                            55.6881
21   은평구                                            55.6881
22   종로구                                            55.6881
23    중구                                            55.6881
24   중랑구                                            55.6881

## 문화예술교육만족도 및 수강의향

In [8]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [9]:
# Avg((Aacs_2022 / Aacs_2021), Avg(Aacitt_2022/Aacitt_2021))*100
cal_df['Swaace'] = art_achievement_index['Swaace_2022']/art_achievement_index['Swaace_2021']
cal_df['Swaace'] = cal_df['Swaace']*100
cal_df

       구      Swaace
0    강남구   94.711538
1    강동구  111.829945
2    강북구  102.782324
3    강서구  111.743119
4    관악구   99.300699
5    광진구   98.954704
6    구로구  105.688073
7    금천구  103.249097
8    노원구  100.716846
9    도봉구  104.074074
10  동대문구  116.176471
11   동작구  113.380282
12   마포구  105.354059
13  서대문구  102.605863
14   서초구   98.543689
15   성동구  103.883495
16   성북구   99.309154
17   송파구  101.130856
18   양천구  102.985075
19  영등포구   77.396022
20   용산구  104.963235
21   은평구  118.035714
22   종로구  120.976492
23    중구   95.461912
24   중랑구  106.593407

In [10]:
final_art_achievement_index['Satisfaction_and_intention_to_take_arts_education'] = cal_df['Swaace']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education
0,강남구,55.6881,94.711538
1,강동구,55.6881,111.829945
2,강북구,55.6881,102.782324
3,강서구,55.6881,111.743119
4,관악구,55.6881,99.300699
5,광진구,55.6881,98.954704
6,구로구,55.6881,105.688073
7,금천구,55.6881,103.249097
8,노원구,55.6881,100.716846
9,도봉구,55.6881,104.074074
10,동대문구,55.6881,116.176471
11,동작구,55.6881,113.380282
12,마포구,55.6881,105.354059
13,서대문구,55.6881,102.605863
14,서초구,55.6881,98.543689
15,성동구,55.6881,103.883495
16,성북구,55.6881,99.309154
17,송파구,55.6881,101.130856
18,양천구,55.6881,102.985075
19,영등포구,55.6881,77.396022
20,용산구,55.6881,104.963235
21,은평구,55.6881,118.035714
22,종로구,55.6881,120.976492
23,중구,55.6881,95.461912
24,중랑구,55.6881,106.593407

## 여가생활 만족도

In [11]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [12]:
# (Lls_2022/Lls_2021)*100
cal_df['Lls'] = art_achievement_index['Lls_2022']/art_achievement_index['Lls_2021']
cal_df['Lls'] = cal_df['Lls']*100
cal_df

       구         Lls
0    강남구   92.629816
1    강동구  109.906542
2    강북구  103.793103
3    강서구  109.444444
4    관악구   94.179894
5    광진구  100.000000
6    구로구   99.450549
7    금천구  101.094891
8    노원구   98.387097
9    도봉구  102.962963
10  동대문구  112.500000
11   동작구  109.090909
12   마포구  103.146853
13  서대문구  103.247863
14   서초구   96.949153
15   성동구  105.245347
16   성북구   98.947368
17   송파구  103.378378
18   양천구  102.075472
19  영등포구   73.345588
20   용산구  103.846154
21   은평구  116.330275
22   종로구  115.855856
23    중구   96.959459
24   중랑구  106.296296

In [13]:
final_art_achievement_index['Satisfaction_with_leisure_time'] = cal_df['Lls']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time
0,강남구,55.6881,94.711538,92.629816
1,강동구,55.6881,111.829945,109.906542
2,강북구,55.6881,102.782324,103.793103
3,강서구,55.6881,111.743119,109.444444
4,관악구,55.6881,99.300699,94.179894
5,광진구,55.6881,98.954704,100.000000
6,구로구,55.6881,105.688073,99.450549
7,금천구,55.6881,103.249097,101.094891
8,노원구,55.6881,100.716846,98.387097
9,도봉구,55.6881,104.074074,102.962963
10,동대문구,55.6881,116.176471,112.500000
11,동작구,55.6881,113.380282,109.090909
12,마포구,55.6881,105.354059,103.146853
13,서대문구,55.6881,102.605863,103.247863
14,서초구,55.6881,98.543689,96.949153
15,성동구,55.6881,103.883495,105.245347
16,성북구,55.6881,99.309154,98.947368
17,송파구,55.6881,101.130856,103.378378
18,양천구,55.6881,102.985075,102.075472
19,영등포구,55.6881,77.396022,73.345588
20,용산구,55.6881,104.963235,103.846154
21,은평구,55.6881,118.035714,116.330275
22,종로구,55.6881,120.976492,115.855856
23,중구,55.6881,95.461912,96.959459
24,중랑구,55.6881,106.593407,106.296296

## 행복 및 삶의질 (Happiness and quality of life)

In [14]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [15]:
# (happiness_2022/happiness_2021)
cal_df['happiness'] = art_achievement_index['happiness_2022']/art_achievement_index['happiness_2021']
cal_df['happiness'] = cal_df['happiness']*100
cal_df['Qol'] = art_achievement_index['Qof_2022']/art_achievement_index['Qof_2021']
cal_df['Qol'] = cal_df['Qol']*100
cal_df['happiness_Qol'] = (cal_df['happiness'] + cal_df['Qol'])/2
cal_df['happiness_Qol']
cal_df

       구   happiness         Qol  happiness_Qol
0    강남구   97.243492  112.006579     104.625035
1    강동구  109.409888  113.605442     111.507665
2    강북구  105.501618  114.907873     110.204745
3    강서구  103.915171  112.286689     108.100930
4    관악구  108.025682  111.243612     109.634647
5    광진구  102.351097  108.061750     105.206423
6    구로구  103.020668  109.152542     106.086605
7    금천구  102.907916  104.230118     103.569017
8    노원구  103.291536  132.046980     117.669258
9    도봉구  109.240924  105.488851     107.364887
10  동대문구  108.333333  113.310580     110.821957
11   동작구  111.792453  113.949580     112.871016
12   마포구  109.856916  107.046980     108.451948
13  서대문구  113.278689  113.289037     113.283863
14   서초구  109.090909  119.180328     114.135618
15   성동구  111.305732  112.919463     112.112598
16   성북구  112.277868  108.403361     110.340614
17   송파구  109.457364  114.784053     112.120709
18   양천구  107.131012  101.706485     104.418748
19  영등포구  100.789889   85.714286      93.252088
20   용산구  106.035889  110.120069     108.077979
21   은평구  112.339744  113.705584     113.022664
22   종로구  110.754414  113.175676     111.965045
23    중구  101.417323  103.691275     102.554299
24   중랑구  109.493671  108.233276     108.863474

In [16]:
final_art_achievement_index['Happiness_and_quality_of_life'] = cal_df['happiness_Qol']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life
0,강남구,55.6881,94.711538,92.629816,104.625035
1,강동구,55.6881,111.829945,109.906542,111.507665
2,강북구,55.6881,102.782324,103.793103,110.204745
3,강서구,55.6881,111.743119,109.444444,108.100930
4,관악구,55.6881,99.300699,94.179894,109.634647
5,광진구,55.6881,98.954704,100.000000,105.206423
6,구로구,55.6881,105.688073,99.450549,106.086605
7,금천구,55.6881,103.249097,101.094891,103.569017
8,노원구,55.6881,100.716846,98.387097,117.669258
9,도봉구,55.6881,104.074074,102.962963,107.364887
10,동대문구,55.6881,116.176471,112.500000,110.821957
11,동작구,55.6881,113.380282,109.090909,112.871016
12,마포구,55.6881,105.354059,103.146853,108.451948
13,서대문구,55.6881,102.605863,103.247863,113.283863
14,서초구,55.6881,98.543689,96.949153,114.135618
15,성동구,55.6881,103.883495,105.245347,112.112598
16,성북구,55.6881,99.309154,98.947368,110.340614
17,송파구,55.6881,101.130856,103.378378,112.120709
18,양천구,55.6881,102.985075,102.075472,104.418748
19,영등포구,55.6881,77.396022,73.345588,93.252088
20,용산구,55.6881,104.963235,103.846154,108.077979
21,은평구,55.6881,118.035714,116.330275,113.022664
22,종로구,55.6881,120.976492,115.855856,111.965045
23,중구,55.6881,95.461912,96.959459,102.554299
24,중랑구,55.6881,106.593407,106.296296,108.863474

## 공연시장매출액

In [17]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [18]:
# (ms_2022/ms_2021)*100
cal_df['ms'] = art_achievement_index['ms_2022']/art_achievement_index['ms_2021']
cal_df['ms'] = cal_df['ms']*100
cal_df

       구          ms
0    강남구  172.596631
1    강동구  144.956360
2    강북구  102.522284
3    강서구  191.339897
4    관악구  247.627710
5    광진구  220.903536
6    구로구   77.694888
7    금천구   79.524537
8    노원구   60.811150
9    도봉구   68.610274
10  동대문구  265.786952
11   동작구  112.337304
12   마포구  118.641755
13  서대문구  128.195600
14   서초구   79.088004
15   성동구  191.316689
16   성북구  261.289024
17   송파구  158.288184
18   양천구  115.717331
19  영등포구   77.264432
20   용산구  128.280077
21   은평구  108.405373
22   종로구  143.582315
23    중구  153.457792
24   중랑구  176.837225

In [19]:
final_art_achievement_index['Performance_marketplace_sales'] = cal_df['ms']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225

## 미술시장매출액

In [20]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [21]:
# (Ams_2021/Ams_2021)*100 ----> 2022년 데이터가 존재하지 않기 때문에 지표 값이 1.00
cal_df['Ams'] = art_achievement_index['Ams_2021']/art_achievement_index['Ams_2021']
cal_df['Ams'] = cal_df['Ams']*100
cal_df

       구    Ams
0    강남구  100.0
1    강동구  100.0
2    강북구  100.0
3    강서구  100.0
4    관악구  100.0
5    광진구  100.0
6    구로구  100.0
7    금천구  100.0
8    노원구  100.0
9    도봉구  100.0
10  동대문구  100.0
11   동작구  100.0
12   마포구  100.0
13  서대문구  100.0
14   서초구  100.0
15   성동구  100.0
16   성북구  100.0
17   송파구  100.0
18   양천구  100.0
19  영등포구  100.0
20   용산구  100.0
21   은평구  100.0
22   종로구  100.0
23    중구  100.0
24   중랑구  100.0

In [22]:
final_art_achievement_index['Art_market_sales'] = cal_df['Ams']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631,100.0
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360,100.0
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284,100.0
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897,100.0
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710,100.0
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536,100.0
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888,100.0
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537,100.0
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150,100.0
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274,100.0
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952,100.0
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304,100.0
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755,100.0
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600,100.0
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004,100.0
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689,100.0
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024,100.0
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184,100.0
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331,100.0
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432,100.0
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077,100.0
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373,100.0
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315,100.0
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792,100.0
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225,100.0

## 문화예술 국제교류 건수

In [23]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [24]:
# (Noce_2019/Noce_2019)*100 ----> 2019년 데이터만 존재하지 않기 때문에 지표 값이 1.00
cal_df['Noce'] = art_achievement_index['Noce_2019']/art_achievement_index['Noce_2019']
cal_df['Noce'] = cal_df['Noce']*100
cal_df

       구   Noce
0    강남구  100.0
1    강동구  100.0
2    강북구  100.0
3    강서구  100.0
4    관악구  100.0
5    광진구  100.0
6    구로구  100.0
7    금천구  100.0
8    노원구  100.0
9    도봉구  100.0
10  동대문구  100.0
11   동작구  100.0
12   마포구  100.0
13  서대문구  100.0
14   서초구  100.0
15   성동구  100.0
16   성북구  100.0
17   송파구  100.0
18   양천구  100.0
19  영등포구  100.0
20   용산구  100.0
21   은평구  100.0
22   종로구  100.0
23    중구  100.0
24   중랑구  100.0

In [25]:
final_art_achievement_index['Number_of_international_cultural_exchanges'] = cal_df['Noce']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631,100.0,100.0
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360,100.0,100.0
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284,100.0,100.0
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897,100.0,100.0
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710,100.0,100.0
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536,100.0,100.0
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888,100.0,100.0
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537,100.0,100.0
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150,100.0,100.0
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274,100.0,100.0
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952,100.0,100.0
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304,100.0,100.0
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755,100.0,100.0
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600,100.0,100.0
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004,100.0,100.0
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689,100.0,100.0
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024,100.0,100.0
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184,100.0,100.0
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331,100.0,100.0
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432,100.0,100.0
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077,100.0,100.0
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373,100.0,100.0
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315,100.0,100.0
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792,100.0,100.0
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225,100.0,100.0

## 향유결과지수

In [26]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [27]:
cal_df['Enjoyment_Outcome_Index'] = final_art_achievement_index['Arts_and_culture_satisfaction_and_intent_to_attend'] + final_art_achievement_index['Satisfaction_and_intention_to_take_arts_education'] + final_art_achievement_index['Satisfaction_with_leisure_time'] + final_art_achievement_index['Happiness_and_quality_of_life']
cal_df['Enjoyment_Outcome_Index'] = cal_df['Enjoyment_Outcome_Index']/4
cal_df

       구  Enjoyment_Outcome_Index
0    강남구                86.913622
1    강동구                97.233063
2    강북구                93.117068
3    강서구                96.244149
4    관악구                89.700835
5    광진구                89.962307
6    구로구                91.728332
7    금천구                90.900276
8    노원구                93.115325
9    도봉구                92.522506
10  동대문구                98.796632
11   동작구                97.757577
12   마포구                93.160240
13  서대문구                93.706422
14   서초구                91.329140
15   성동구                94.232385
16   성북구                91.071309
17   송파구                93.079511
18   양천구                91.291849
19  영등포구                74.920449
20   용산구                93.143867
21   은평구               100.769188
22   종로구               101.121373
23    중구                87.665943
24   중랑구                94.360319

In [28]:
final_art_achievement_index['Enjoyment_Outcome_Index'] = cal_df['Enjoyment_Outcome_Index']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631,100.0,100.0,86.913622
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360,100.0,100.0,97.233063
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284,100.0,100.0,93.117068
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897,100.0,100.0,96.244149
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710,100.0,100.0,89.700835
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536,100.0,100.0,89.962307
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888,100.0,100.0,91.728332
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537,100.0,100.0,90.900276
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150,100.0,100.0,93.115325
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274,100.0,100.0,92.522506
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952,100.0,100.0,98.796632
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304,100.0,100.0,97.757577
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755,100.0,100.0,93.160240
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600,100.0,100.0,93.706422
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004,100.0,100.0,91.329140
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689,100.0,100.0,94.232385
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024,100.0,100.0,91.071309
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184,100.0,100.0,93.079511
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331,100.0,100.0,91.291849
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432,100.0,100.0,74.920449
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077,100.0,100.0,93.143867
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373,100.0,100.0,100.769188
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315,100.0,100.0,101.121373
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792,100.0,100.0,87.665943
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225,100.0,100.0,94.360319

## 시장성과지수

In [29]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [30]:
cal_df['Market_Performance_Index'] = final_art_achievement_index['Performance_marketplace_sales'] + final_art_achievement_index['Art_market_sales'] + final_art_achievement_index['Number_of_international_cultural_exchanges']
cal_df['Market_Performance_Index'] = cal_df['Market_Performance_Index']/3
cal_df

       구  Market_Performance_Index
0    강남구                124.198877
1    강동구                114.985453
2    강북구                100.840761
3    강서구                130.446632
4    관악구                149.209237
5    광진구                140.301179
6    구로구                 92.564963
7    금천구                 93.174846
8    노원구                 86.937050
9    도봉구                 89.536758
10  동대문구                155.262317
11   동작구                104.112435
12   마포구                106.213918
13  서대문구                109.398533
14   서초구                 93.029335
15   성동구                130.438896
16   성북구                153.763008
17   송파구                119.429395
18   양천구                105.239110
19  영등포구                 92.421477
20   용산구                109.426692
21   은평구                102.801791
22   종로구                114.527438
23    중구                117.819264
24   중랑구                125.612408

In [31]:
final_art_achievement_index['Market_Performance_Index'] = cal_df['Market_Performance_Index']
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index,Market_Performance_Index
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631,100.0,100.0,86.913622,124.198877
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360,100.0,100.0,97.233063,114.985453
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284,100.0,100.0,93.117068,100.840761
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897,100.0,100.0,96.244149,130.446632
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710,100.0,100.0,89.700835,149.209237
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536,100.0,100.0,89.962307,140.301179
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888,100.0,100.0,91.728332,92.564963
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537,100.0,100.0,90.900276,93.174846
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150,100.0,100.0,93.115325,86.937050
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274,100.0,100.0,92.522506,89.536758
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952,100.0,100.0,98.796632,155.262317
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304,100.0,100.0,97.757577,104.112435
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755,100.0,100.0,93.160240,106.213918
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600,100.0,100.0,93.706422,109.398533
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004,100.0,100.0,91.329140,93.029335
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689,100.0,100.0,94.232385,130.438896
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024,100.0,100.0,91.071309,153.763008
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184,100.0,100.0,93.079511,119.429395
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331,100.0,100.0,91.291849,105.239110
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432,100.0,100.0,74.920449,92.421477
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077,100.0,100.0,93.143867,109.426692
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373,100.0,100.0,100.769188,102.801791
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315,100.0,100.0,101.121373,114.527438
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792,100.0,100.0,87.665943,117.819264
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225,100.0,100.0,94.360319,125.612408

In [32]:
final_art_achievement_index['art_achievement_index'] = final_art_achievement_index['Enjoyment_Outcome_Index'] + final_art_achievement_index['Market_Performance_Index']
final_art_achievement_index['art_achievement_index'] = final_art_achievement_index['art_achievement_index']/2

In [33]:
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index,Market_Performance_Index,art_achievement_index
0,강남구,55.6881,94.711538,92.629816,104.625035,172.596631,100.0,100.0,86.913622,124.198877,105.556250
1,강동구,55.6881,111.829945,109.906542,111.507665,144.956360,100.0,100.0,97.233063,114.985453,106.109258
2,강북구,55.6881,102.782324,103.793103,110.204745,102.522284,100.0,100.0,93.117068,100.840761,96.978915
3,강서구,55.6881,111.743119,109.444444,108.100930,191.339897,100.0,100.0,96.244149,130.446632,113.345390
4,관악구,55.6881,99.300699,94.179894,109.634647,247.627710,100.0,100.0,89.700835,149.209237,119.455036
5,광진구,55.6881,98.954704,100.000000,105.206423,220.903536,100.0,100.0,89.962307,140.301179,115.131743
6,구로구,55.6881,105.688073,99.450549,106.086605,77.694888,100.0,100.0,91.728332,92.564963,92.146647
7,금천구,55.6881,103.249097,101.094891,103.569017,79.524537,100.0,100.0,90.900276,93.174846,92.037561
8,노원구,55.6881,100.716846,98.387097,117.669258,60.811150,100.0,100.0,93.115325,86.937050,90.026188
9,도봉구,55.6881,104.074074,102.962963,107.364887,68.610274,100.0,100.0,92.522506,89.536758,91.029632
10,동대문구,55.6881,116.176471,112.500000,110.821957,265.786952,100.0,100.0,98.796632,155.262317,127.029475
11,동작구,55.6881,113.380282,109.090909,112.871016,112.337304,100.0,100.0,97.757577,104.112435,100.935006
12,마포구,55.6881,105.354059,103.146853,108.451948,118.641755,100.0,100.0,93.160240,106.213918,99.687079
13,서대문구,55.6881,102.605863,103.247863,113.283863,128.195600,100.0,100.0,93.706422,109.398533,101.552478
14,서초구,55.6881,98.543689,96.949153,114.135618,79.088004,100.0,100.0,91.329140,93.029335,92.179237
15,성동구,55.6881,103.883495,105.245347,112.112598,191.316689,100.0,100.0,94.232385,130.438896,112.335641
16,성북구,55.6881,99.309154,98.947368,110.340614,261.289024,100.0,100.0,91.071309,153.763008,122.417159
17,송파구,55.6881,101.130856,103.378378,112.120709,158.288184,100.0,100.0,93.079511,119.429395,106.254453
18,양천구,55.6881,102.985075,102.075472,104.418748,115.717331,100.0,100.0,91.291849,105.239110,98.265480
19,영등포구,55.6881,77.396022,73.345588,93.252088,77.264432,100.0,100.0,74.920449,92.421477,83.670963
20,용산구,55.6881,104.963235,103.846154,108.077979,128.280077,100.0,100.0,93.143867,109.426692,101.285280
21,은평구,55.6881,118.035714,116.330275,113.022664,108.405373,100.0,100.0,100.769188,102.801791,101.785490
22,종로구,55.6881,120.976492,115.855856,111.965045,143.582315,100.0,100.0,101.121373,114.527438,107.824406
23,중구,55.6881,95.461912,96.959459,102.554299,153.457792,100.0,100.0,87.665943,117.819264,102.742603
24,중랑구,55.6881,106.593407,106.296296,108.863474,176.837225,100.0,100.0,94.360319,125.612408,109.986364

In [35]:
final_art_achievement_index.to_csv('art_achievement_index.csv', encoding='utf-8-sig', index=False)