# arts_finance_index

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
final_arts_finance_index = pd.DataFrame(data)
final_arts_finance_index

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [3]:
art_finance_index = pd.read_csv('/content/arts_finance_index_calculate.csv')
art_finance_index

,구,cul_budget_2021,cul_budget_2022,cul_government_2021,cul_government_2022,cna_budget_2021,cna_budget_2022,cna_budget_2_2021,cna_budget_2_2022,donation_2021,donation_2022
0,강남구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,216256860,531102360
1,강동구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,25639089,40680629
2,강북구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,6000000,0
3,강서구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,199885463,134933650
4,관악구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,300000000,318440000
5,광진구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,19122230,79485450
6,구로구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,29969760,2000000
7,금천구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,826131489,27590000
8,노원구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,646908000,676577200
9,도봉구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,0,0
10,동대문구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,24450000,24450000
11,동작구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,0,0
12,마포구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,26723932,26723932
13,서대문구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,129901117,137689823
14,서초구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,100000000,670278550
15,성동구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,112188900,200031499
16,성북구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,45168223,43191123
17,송파구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,33034000,13373350
18,양천구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,25842285,25842285
19,영등포구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,23584119,3433362
20,용산구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,35000000,0
21,은평구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,3940000,60851200
22,종로구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,35881348,35881348
23,중구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,252000000,252000000
24,중랑구,319400000000,324200000000,2.1,2,741100000000,779800000000,43.1,41.57,129901117,137689823

## 문화부 예산

In [4]:
final_arts_finance_index['cul_budget'] = art_finance_index['cul_budget_2022'] / art_finance_index['cul_budget_2021']
final_arts_finance_index['cul_budget'] = final_arts_finance_index['cul_budget']*100
final_arts_finance_index

       구  cul_budget
0    강남구  101.502818
1    강동구  101.502818
2    강북구  101.502818
3    강서구  101.502818
4    관악구  101.502818
5    광진구  101.502818
6    구로구  101.502818
7    금천구  101.502818
8    노원구  101.502818
9    도봉구  101.502818
10  동대문구  101.502818
11   동작구  101.502818
12   마포구  101.502818
13  서대문구  101.502818
14   서초구  101.502818
15   성동구  101.502818
16   성북구  101.502818
17   송파구  101.502818
18   양천구  101.502818
19  영등포구  101.502818
20   용산구  101.502818
21   은평구  101.502818
22   종로구  101.502818
23    중구  101.502818
24   중랑구  101.502818

## 정부 예산 대비 문화부 예산

In [5]:
final_arts_finance_index['cul_government'] = art_finance_index['cul_government_2022'] / art_finance_index['cul_government_2021']
final_arts_finance_index['cul_government'] = final_arts_finance_index['cul_government']*100
final_arts_finance_index

       구  cul_budget  cul_government
0    강남구  101.502818       95.238095
1    강동구  101.502818       95.238095
2    강북구  101.502818       95.238095
3    강서구  101.502818       95.238095
4    관악구  101.502818       95.238095
5    광진구  101.502818       95.238095
6    구로구  101.502818       95.238095
7    금천구  101.502818       95.238095
8    노원구  101.502818       95.238095
9    도봉구  101.502818       95.238095
10  동대문구  101.502818       95.238095
11   동작구  101.502818       95.238095
12   마포구  101.502818       95.238095
13  서대문구  101.502818       95.238095
14   서초구  101.502818       95.238095
15   성동구  101.502818       95.238095
16   성북구  101.502818       95.238095
17   송파구  101.502818       95.238095
18   양천구  101.502818       95.238095
19  영등포구  101.502818       95.238095
20   용산구  101.502818       95.238095
21   은평구  101.502818       95.238095
22   종로구  101.502818       95.238095
23    중구  101.502818       95.238095
24   중랑구  101.502818       95.238095

## 문화예술 예산

In [6]:
final_arts_finance_index['cna_budget'] = art_finance_index['cna_budget_2022'] / art_finance_index['cna_budget_2021']
final_arts_finance_index['cna_budget'] = final_arts_finance_index['cna_budget']*100
final_arts_finance_index

       구  cul_budget  cul_government  cna_budget
0    강남구  101.502818       95.238095  105.221967
1    강동구  101.502818       95.238095  105.221967
2    강북구  101.502818       95.238095  105.221967
3    강서구  101.502818       95.238095  105.221967
4    관악구  101.502818       95.238095  105.221967
5    광진구  101.502818       95.238095  105.221967
6    구로구  101.502818       95.238095  105.221967
7    금천구  101.502818       95.238095  105.221967
8    노원구  101.502818       95.238095  105.221967
9    도봉구  101.502818       95.238095  105.221967
10  동대문구  101.502818       95.238095  105.221967
11   동작구  101.502818       95.238095  105.221967
12   마포구  101.502818       95.238095  105.221967
13  서대문구  101.502818       95.238095  105.221967
14   서초구  101.502818       95.238095  105.221967
15   성동구  101.502818       95.238095  105.221967
16   성북구  101.502818       95.238095  105.221967
17   송파구  101.502818       95.238095  105.221967
18   양천구  101.502818       95.238095  105.221967
19  영등포구  101.502818       95.238095  105.221967
20   용산구  101.502818       95.238095  105.221967
21   은평구  101.502818       95.238095  105.221967
22   종로구  101.502818       95.238095  105.221967
23    중구  101.502818       95.238095  105.221967
24   중랑구  101.502818       95.238095  105.221967

## 문화부 예산 대비 문화예술 예산

In [7]:
final_arts_finance_index['cna_budget_2'] = art_finance_index['cna_budget_2_2022'] / art_finance_index['cna_budget_2_2021']
final_arts_finance_index['cna_budget_2'] = final_arts_finance_index['cna_budget_2']*100
final_arts_finance_index

       구  cul_budget  cul_government  cna_budget  cna_budget_2
0    강남구  101.502818       95.238095  105.221967     96.450116
1    강동구  101.502818       95.238095  105.221967     96.450116
2    강북구  101.502818       95.238095  105.221967     96.450116
3    강서구  101.502818       95.238095  105.221967     96.450116
4    관악구  101.502818       95.238095  105.221967     96.450116
5    광진구  101.502818       95.238095  105.221967     96.450116
6    구로구  101.502818       95.238095  105.221967     96.450116
7    금천구  101.502818       95.238095  105.221967     96.450116
8    노원구  101.502818       95.238095  105.221967     96.450116
9    도봉구  101.502818       95.238095  105.221967     96.450116
10  동대문구  101.502818       95.238095  105.221967     96.450116
11   동작구  101.502818       95.238095  105.221967     96.450116
12   마포구  101.502818       95.238095  105.221967     96.450116
13  서대문구  101.502818       95.238095  105.221967     96.450116
14   서초구  101.502818       95.238095  105.221967     96.450116
15   성동구  101.502818       95.238095  105.221967     96.450116
16   성북구  101.502818       95.238095  105.221967     96.450116
17   송파구  101.502818       95.238095  105.221967     96.450116
18   양천구  101.502818       95.238095  105.221967     96.450116
19  영등포구  101.502818       95.238095  105.221967     96.450116
20   용산구  101.502818       95.238095  105.221967     96.450116
21   은평구  101.502818       95.238095  105.221967     96.450116
22   종로구  101.502818       95.238095  105.221967     96.450116
23    중구  101.502818       95.238095  105.221967     96.450116
24   중랑구  101.502818       95.238095  105.221967     96.450116

## 기업의 문화예술 기부액 및 문화예술 기부액 비중

In [8]:
art_finance_index['donation_2021']

0     216256860
1      25639089
2       6000000
3     199885463
4     300000000
5      19122230
6      29969760
7     826131489
8     646908000
9             0
10     24450000
11            0
12     26723932
13    129901117
14    100000000
15    112188900
16     45168223
17     33034000
18     25842285
19     23584119
20     35000000
21      3940000
22     35881348
23    252000000
24    129901117
Name: donation_2021, dtype: int64

In [9]:
art_finance_index['donation_2022']

0     531102360
1      40680629
2             0
3     134933650
4     318440000
5      79485450
6       2000000
7      27590000
8     676577200
9             0
10     24450000
11            0
12     26723932
13    137689823
14    670278550
15    200031499
16     43191123
17     13373350
18     25842285
19      3433362
20            0
21     60851200
22     35881348
23    252000000
24    137689823
Name: donation_2022, dtype: int64

In [10]:
art_finance_index['donation_2022'] / art_finance_index['donation_2021']

0      2.455887
1      1.586664
2      0.000000
3      0.675055
4      1.061467
5      4.156704
6      0.066734
7      0.033397
8      1.045863
9           NaN
10     1.000000
11          NaN
12     1.000000
13     1.059959
14     6.702786
15     1.782988
16     0.956228
17     0.404836
18     1.000000
19     0.145579
20     0.000000
21    15.444467
22     1.000000
23     1.000000
24     1.059959
dtype: float64

In [11]:
final_arts_finance_index['donation'] = art_finance_index['donation_2022'] / art_finance_index['donation_2021']
final_arts_finance_index['donation'] = final_arts_finance_index['donation']*100
final_arts_finance_index

       구  cul_budget  cul_government  cna_budget  cna_budget_2     donation
0    강남구  101.502818       95.238095  105.221967     96.450116   245.588676
1    강동구  101.502818       95.238095  105.221967     96.450116   158.666437
2    강북구  101.502818       95.238095  105.221967     96.450116     0.000000
3    강서구  101.502818       95.238095  105.221967     96.450116    67.505484
4    관악구  101.502818       95.238095  105.221967     96.450116   106.146667
5    광진구  101.502818       95.238095  105.221967     96.450116   415.670400
6    구로구  101.502818       95.238095  105.221967     96.450116     6.673393
7    금천구  101.502818       95.238095  105.221967     96.450116     3.339662
8    노원구  101.502818       95.238095  105.221967     96.450116   104.586309
9    도봉구  101.502818       95.238095  105.221967     96.450116          NaN
10  동대문구  101.502818       95.238095  105.221967     96.450116   100.000000
11   동작구  101.502818       95.238095  105.221967     96.450116          NaN
12   마포구  101.502818       95.238095  105.221967     96.450116   100.000000
13  서대문구  101.502818       95.238095  105.221967     96.450116   105.995873
14   서초구  101.502818       95.238095  105.221967     96.450116   670.278550
15   성동구  101.502818       95.238095  105.221967     96.450116   178.298833
16   성북구  101.502818       95.238095  105.221967     96.450116    95.622808
17   송파구  101.502818       95.238095  105.221967     96.450116    40.483593
18   양천구  101.502818       95.238095  105.221967     96.450116   100.000000
19  영등포구  101.502818       95.238095  105.221967     96.450116    14.557940
20   용산구  101.502818       95.238095  105.221967     96.450116     0.000000
21   은평구  101.502818       95.238095  105.221967     96.450116  1544.446701
22   종로구  101.502818       95.238095  105.221967     96.450116   100.000000
23    중구  101.502818       95.238095  105.221967     96.450116   100.000000
24   중랑구  101.502818       95.238095  105.221967     96.450116   105.995873

### Nan -> 0으로 변경

In [12]:
final_arts_finance_index['donation'] = final_arts_finance_index['donation'].fillna(0)

In [13]:
final_arts_finance_index

       구  cul_budget  cul_government  cna_budget  cna_budget_2     donation
0    강남구  101.502818       95.238095  105.221967     96.450116   245.588676
1    강동구  101.502818       95.238095  105.221967     96.450116   158.666437
2    강북구  101.502818       95.238095  105.221967     96.450116     0.000000
3    강서구  101.502818       95.238095  105.221967     96.450116    67.505484
4    관악구  101.502818       95.238095  105.221967     96.450116   106.146667
5    광진구  101.502818       95.238095  105.221967     96.450116   415.670400
6    구로구  101.502818       95.238095  105.221967     96.450116     6.673393
7    금천구  101.502818       95.238095  105.221967     96.450116     3.339662
8    노원구  101.502818       95.238095  105.221967     96.450116   104.586309
9    도봉구  101.502818       95.238095  105.221967     96.450116     0.000000
10  동대문구  101.502818       95.238095  105.221967     96.450116   100.000000
11   동작구  101.502818       95.238095  105.221967     96.450116     0.000000
12   마포구  101.502818       95.238095  105.221967     96.450116   100.000000
13  서대문구  101.502818       95.238095  105.221967     96.450116   105.995873
14   서초구  101.502818       95.238095  105.221967     96.450116   670.278550
15   성동구  101.502818       95.238095  105.221967     96.450116   178.298833
16   성북구  101.502818       95.238095  105.221967     96.450116    95.622808
17   송파구  101.502818       95.238095  105.221967     96.450116    40.483593
18   양천구  101.502818       95.238095  105.221967     96.450116   100.000000
19  영등포구  101.502818       95.238095  105.221967     96.450116    14.557940
20   용산구  101.502818       95.238095  105.221967     96.450116     0.000000
21   은평구  101.502818       95.238095  105.221967     96.450116  1544.446701
22   종로구  101.502818       95.238095  105.221967     96.450116   100.000000
23    중구  101.502818       95.238095  105.221967     96.450116   100.000000
24   중랑구  101.502818       95.238095  105.221967     96.450116   105.995873

## 예산지수

In [17]:
final_arts_finance_index['budget_index'] = final_arts_finance_index['cul_budget'] + final_arts_finance_index['cul_government'] + final_arts_finance_index['cna_budget'] + final_arts_finance_index['cna_budget_2']
final_arts_finance_index['budget_index'] = final_arts_finance_index['budget_index']/4
final_arts_finance_index['budget_index'] = final_arts_finance_index['budget_index'].round(2)
final_arts_finance_index

,구,cul_budget,cul_government,cna_budget,cna_budget_2,donation,budget_index
0,강남구,101.502818,95.238095,105.221967,96.450116,245.588676,99.6
1,강동구,101.502818,95.238095,105.221967,96.450116,158.666437,99.6
2,강북구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6
3,강서구,101.502818,95.238095,105.221967,96.450116,67.505484,99.6
4,관악구,101.502818,95.238095,105.221967,96.450116,106.146667,99.6
5,광진구,101.502818,95.238095,105.221967,96.450116,415.670400,99.6
6,구로구,101.502818,95.238095,105.221967,96.450116,6.673393,99.6
7,금천구,101.502818,95.238095,105.221967,96.450116,3.339662,99.6
8,노원구,101.502818,95.238095,105.221967,96.450116,104.586309,99.6
9,도봉구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6
10,동대문구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6
11,동작구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6
12,마포구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6
13,서대문구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6
14,서초구,101.502818,95.238095,105.221967,96.450116,670.278550,99.6
15,성동구,101.502818,95.238095,105.221967,96.450116,178.298833,99.6
16,성북구,101.502818,95.238095,105.221967,96.450116,95.622808,99.6
17,송파구,101.502818,95.238095,105.221967,96.450116,40.483593,99.6
18,양천구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6
19,영등포구,101.502818,95.238095,105.221967,96.450116,14.557940,99.6
20,용산구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6
21,은평구,101.502818,95.238095,105.221967,96.450116,1544.446701,99.6
22,종로구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6
23,중구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6
24,중랑구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6

## 기부지수

In [20]:
final_arts_finance_index['donation_index'] = final_arts_finance_index['donation']
final_arts_finance_index['donation_index'] = final_arts_finance_index['donation_index'].round(2)
final_arts_finance_index

,구,cul_budget,cul_government,cna_budget,cna_budget_2,donation,budget_index,donation_index
0,강남구,101.502818,95.238095,105.221967,96.450116,245.588676,99.6,245.59
1,강동구,101.502818,95.238095,105.221967,96.450116,158.666437,99.6,158.67
2,강북구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00
3,강서구,101.502818,95.238095,105.221967,96.450116,67.505484,99.6,67.51
4,관악구,101.502818,95.238095,105.221967,96.450116,106.146667,99.6,106.15
5,광진구,101.502818,95.238095,105.221967,96.450116,415.670400,99.6,415.67
6,구로구,101.502818,95.238095,105.221967,96.450116,6.673393,99.6,6.67
7,금천구,101.502818,95.238095,105.221967,96.450116,3.339662,99.6,3.34
8,노원구,101.502818,95.238095,105.221967,96.450116,104.586309,99.6,104.59
9,도봉구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00
10,동대문구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00
11,동작구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00
12,마포구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00
13,서대문구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6,106.00
14,서초구,101.502818,95.238095,105.221967,96.450116,670.278550,99.6,670.28
15,성동구,101.502818,95.238095,105.221967,96.450116,178.298833,99.6,178.30
16,성북구,101.502818,95.238095,105.221967,96.450116,95.622808,99.6,95.62
17,송파구,101.502818,95.238095,105.221967,96.450116,40.483593,99.6,40.48
18,양천구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00
19,영등포구,101.502818,95.238095,105.221967,96.450116,14.557940,99.6,14.56
20,용산구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00
21,은평구,101.502818,95.238095,105.221967,96.450116,1544.446701,99.6,1544.45
22,종로구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00
23,중구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00
24,중랑구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6,106.00

## 예술재정지수

In [21]:
final_arts_finance_index['arts_finance_index'] = final_arts_finance_index['budget_index'] + final_arts_finance_index['donation_index']
final_arts_finance_index['arts_finance_index'] = final_arts_finance_index['arts_finance_index']/2
final_arts_finance_index['arts_finance_index'] = final_arts_finance_index['arts_finance_index'].round(2)
final_arts_finance_index

,구,cul_budget,cul_government,cna_budget,cna_budget_2,donation,budget_index,donation_index,arts_finance_index
0,강남구,101.502818,95.238095,105.221967,96.450116,245.588676,99.6,245.59,172.60
1,강동구,101.502818,95.238095,105.221967,96.450116,158.666437,99.6,158.67,129.14
2,강북구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00,49.80
3,강서구,101.502818,95.238095,105.221967,96.450116,67.505484,99.6,67.51,83.56
4,관악구,101.502818,95.238095,105.221967,96.450116,106.146667,99.6,106.15,102.88
5,광진구,101.502818,95.238095,105.221967,96.450116,415.670400,99.6,415.67,257.64
6,구로구,101.502818,95.238095,105.221967,96.450116,6.673393,99.6,6.67,53.14
7,금천구,101.502818,95.238095,105.221967,96.450116,3.339662,99.6,3.34,51.47
8,노원구,101.502818,95.238095,105.221967,96.450116,104.586309,99.6,104.59,102.10
9,도봉구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00,49.80
10,동대문구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00,99.80
11,동작구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00,49.80
12,마포구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00,99.80
13,서대문구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6,106.00,102.80
14,서초구,101.502818,95.238095,105.221967,96.450116,670.278550,99.6,670.28,384.94
15,성동구,101.502818,95.238095,105.221967,96.450116,178.298833,99.6,178.30,138.95
16,성북구,101.502818,95.238095,105.221967,96.450116,95.622808,99.6,95.62,97.61
17,송파구,101.502818,95.238095,105.221967,96.450116,40.483593,99.6,40.48,70.04
18,양천구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00,99.80
19,영등포구,101.502818,95.238095,105.221967,96.450116,14.557940,99.6,14.56,57.08
20,용산구,101.502818,95.238095,105.221967,96.450116,0.000000,99.6,0.00,49.80
21,은평구,101.502818,95.238095,105.221967,96.450116,1544.446701,99.6,1544.45,822.02
22,종로구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00,99.80
23,중구,101.502818,95.238095,105.221967,96.450116,100.000000,99.6,100.00,99.80
24,중랑구,101.502818,95.238095,105.221967,96.450116,105.995873,99.6,106.00,102.80

In [22]:
final_arts_finance_index.to_csv('arts_finance_index.csv', encoding='utf-8-sig', index=False)